@charset"utf-8";
/* NOTO Sans 노토산스 글꼴 */
  @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul,li{
    list-style: none;
}
a{
    text-decoration: none;
    color: #fff;
}
img{
    border: 0;
    vertical-align: middle;
}
html,
body {
  font-family:'Noto Sans KR', sans-serif;
  font-size: 16px;
  line-height: 1;
  letter-spacing: 0;
  height: 100%;
  background: #222;
  display: flex;
  justify-content: cetner;
  align-items: center;
}


/* 해더 시작  */
.wrap{
    position: relative;
    display: block;
}
.inner{
    position: relative;
    display: block;
    max-width: 1240;
width: 100%;
margin: 0 auto;
}

.num1svg {
  fill: none;
  width: 600px;
  stroke-width: 1px;
}
.num2svg {
  fill: none;
  width: 400px;
  stroke-width: 1px;
  transform: rotate(-120deg);
  transition: delay 3000ms;
}
.apath {
  stroke: #fff;
  stroke-dasharray: 343.5;
  stroke-dashoffset: 343.5;
  animation: apath 5000ms forwards;
}
@keyframes apath {
  100% {
    stroke-dashoffset: 0;
  }
}

.bpath {
  stroke: #fff;
  stroke-dasharray: 243.5;
  stroke-dashoffset: 243.5;
  animation: bpath 3000ms forwards;
}
@keyframes bpath {
  100% {
    stroke-dashoffset: 0;
  }
}
